.navbar {
  position: relative;
  top: 40px;
  text-align: center;

  &__lists {
    margin: 0;

  }

  &__list {
    display: inline-block;
    list-style: none;

    padding: .5rem;
  }

  &__link {
      text-decoration: none;
      color: $white;
        &:hover {
          @include hover();
        }

    }
  }
